.container {
  border: 1px solid #fff;
  width: 65px;
  overflow: hidden;
  margin: 4px;
  position: relative;
}

.selected {
  outline: 3px solid #53a318;
}

.preview {
  width: 100px;
  height: 56.25px;
  margin: 0 5px;
  position: relative;
  left: -10%;
  top: 3%;
}

.circle {
  height: 35px;
  width: 35px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 20%;
  left: 25%;
}

.camera {
  color: white;
  position: absolute;
  top: 25%;
  left: 25%;
}
