.current {
  width: 50%;
  z-index: 1;
}
.videoResponsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  width: 50%;
  height: 0;
  min-width: 450px;
  min-height: 250px;
}
.videoResponsive iframe {
  height: 50%;
  width: 100%;
  position: absolute;
}
