.current {
  width: 50%;
  z-index: 1;
}

.wrapper {
  overflow: hidden;
  height: 41vw;
  min-width: 450px;
}

.videoResponsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  width: 50%;
  height: 100%;
}

.videoResponsive iframe {
  height: 34%;
  width: 100%;
  position: absolute;
}
